/* Navbar Stuff */
.header-navbar {
  background-color: rgb(97, 38, 144);
}

.header-navbar .nav-link {
  color: white;
}

.nav-link:hover {
  border-radius: 2px;
  background-color: rgb(70, 0, 127);
  color: white !important;
}


.search-bar {
  width: 400px;
}

/* Body, namely setting the background */
body {
  background-color:rgb(240, 240, 240) !important;
}

.App {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.homepage-section h1,
.homepage-section h2,
.homepage-section h3,
.homepage-section h4,
.homepage-card h1,
.homepage-card h2,
.homepage-card h3,
.homepage-card h4 {
  color: teal;
}


/* For sections in the home page */
.homepage-section {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  background-color:white;
  max-width: 80% !important;
}

.homepage-card {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 10px;
}

.homepage-card img {
  height: 300px;
  object-fit: cover;
  object-position: center;
}


.homepage-explore-list-items {
  list-style: none;
  border-bottom: 1px solid #ccc;

}

.homepage-explore-list-items img {
  margin: 20px;
}

/* For Infinite Scroll */
.infinite-scroll-featured-games {
  display: flex;
}

 /* Saving this code for when I do want to use the carousel */
/* .featured-games-carousel {
  overflow-x: scroll;
  white-space: nowrap;
} */