/* Navbar Stuff */
.header-navbar {
  background-color: rgb(97, 38, 144);
}

.header-navbar .nav-link {
  color: white;
}

.nav-link:hover {
  border-radius: 2px;
  background-color: rgb(70, 0, 127);
  color: white !important;
}

.navbar-toggler-custom {
  color: white;
  background-color: white;
}

.search-bar {
  width: 400px;
}

/* Body, namely setting the background */
body {
  background-color:rgb(240, 240, 240) !important;
}

.App {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.homepage-section h1,
.homepage-section h2,
.homepage-section h3,
.homepage-section h4,
.homepage-card h1,
.homepage-card h2,
.homepage-card h3,
.homepage-card h4 {
  color: teal;
}


/* For sections in the home page */
.homepage-section {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 15px;
  background-color:white;
  width: 90%;
  max-width: 1000px;
  /* max-width: 60% !important; */
}

.homepage-section-no-border {
  padding: 10px;
  margin: 15px;
  width: 90%;
  max-width: 1000px;
}

.homepage-card {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 10px;
}

.homepage-card img {
  height: 300px;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 992px) {
  .no-left-padding {
    padding-left: 0 !important;
  }

  .no-right-padding {
    padding-right: 0 !important;
  }
}

@media (max-width: 768px) {
  .homepage-explore-list-items div img {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 992px) {
  .no-left-padding {
    padding: 0px 0px 25px 0px !important;
  }

  .no-right-padding {
    padding: 0 !important;
  }
}

@media (max-width: 1200px) {
  .top-rated-text {
    display: none;
  }
}


.homepage-explore-list-items {
  list-style: none;
  border-bottom: 1px solid #ccc;

}

.homepage-explore-list-items img {
  margin: 20px;
}


.galore-posts-highlight-container {
  position: relative;
  width: 100%;
  height: 300px;
  margin: 10px;
}

.galore-posts-highlight-container img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.galore-posts-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* background-color: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)); */
  background-color: rgba(0, 0, 0, 0.5);
}

.image-text {
  position: absolute;
  top: 40%;
  left: 5%;
  color: white;
  font-size: 2rem;
  z-index: 10;
}

.galore-post-paragraph {
  font-size: 22px;
}



/* For Infinite Scroll */
.infinite-scroll-featured-games {
  display: flex;
}

 /* Saving this code for when I do want to use the carousel */
/* .featured-games-carousel {
  overflow-x: scroll;
  white-space: nowrap;
} */